.layout {
  background-image: url("https://i.ibb.co/S35mB3M/ACgrassspreadbrown.png");
  // SPRING/SUMMER background-image: url("https://i.ibb.co/YZFZDYJ/ACgrassspread.png");
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}

.layout__blogContent {
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 20px;
  padding: $l-size;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: $desktop-breakpoint) {
  .layout__blogContent {
    width: 50vw;
  }
}
