h1 {
  font-family: FinkHeavy;
}

h4 {
  padding-top: 15px;
}

p {
  padding-bottom: 15px;
}

.published-date {
  color: #777777;
}

.blog-post {
  margin-top: 30px;
}

ul {
  text-align: left;
  list-style: outside;
}

// .next-prev-navigation {
//   display: flex;
//   justify-content: space-between;
// }

// a {
//   text-decoration: none;
//   color: #777777;
// }

// a:hover {
//   color: #333333;
// }
