.layoutContainer {
  max-width: 750px;
  width: 90%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
}

.blogTitle {
  font-family: FinkHeavy;
  font-size: 35px;
  text-align: left;
}

h3 {
  margin-top: 20px;
  margin-bottom: 5 px;
}

.published-date {
  color: #777777;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin-top: 20px;
}

ol {
  margin-top: 20px;
}
a {
  color: #666666;
}

a:hover {
  color: #333333;
}
