.published-date {
  color: #777777;
  padding: 3px;
}

.blog-post {
  margin-top: 2rem;
}

// .next-prev-navigation {
//   display: flex;
//   justify-content: space-between;
// }

// a {
//   text-decoration: none;
//   color: #777777;
// }

// a:hover {
//   color: #333333;
// }
