.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 750px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: $s-size;
  padding: $m-size;
  margin: $s-size;
  width: 65%;
  transition: all 0.3s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
  }
}

.card__fossils {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: $s-size;
  padding: $s-size;
  margin: $s-size;
  transition: all 0.3s ease-in-out;
  min-width: 170px;
  &:hover {
    -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
  }
}

.card__villagers {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: $s-size;
  padding: $s-size;
  display: flex;
  align-items: center;
  margin: $s-size;
  padding: $s-size;
  transition: all 0.3s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
  }
}

.card__profile {
  text-align: center;
}

.card__name {
  font-family: FinkHeavy;
  text-transform: capitalize;
  font-size: 2rem;
}

.card__name--highlight {
  box-shadow: inset 0 -10px #f2d697;
}

.card__img {
  width: 40%;
  height: 40%;
}

.card__fossilImg {
  width: 50%;
}

.card__villagerImg {
  margin-top: $s-size;
  width: 60%;
  height: 60%;
}

.card__content {
  display: flex;
  margin: $m-size 0 0 $s-size;
  p {
    letter-spacing: normal;
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
  }
  b {
    font-weight: 600;
  }
}

.card__info {
  margin-left: $m-size;
  font-size: 1.2rem;
}

.card__info--villagers {
  margin-right: $m-size;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card__info--fossils {
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: $desktop-breakpoint) {
  .card {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
