@font-face {
  font-family: FinkHeavy;
  src: url(../../fonts/FinkHeavy.ttf) format("ttf"),
    url(../../fonts/FinkHeavy.woff) format("woff"),
    url(../../fonts/FinkHeavy.woff2) format("woff2");
}

.title {
  font-family: FinkHeavy;
  font-size: 35px;
  text-align: center;
  margin-bottom: 5px;
}

.description {
  font-size: 0.9rem;
}

//SECONDARY NAVIGATION
.critter-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  max-width: 750px;
  width: 100%;
}

//TOGGLE FOR HEMISPHERES
.hemisphere-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 100px;
  width: 100%;
}

.hemisphere-option {
  font-size: 12px;
  margin-left: 5px;
  margin-top: -5px;
}

.switch {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 20px;
  height: 45px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6dbac;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  -moz-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 18px;
  width: 18px;
  right: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  -moz-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
}

input:checked + .slider {
  background-color: #229d6c;
  -webkit-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  -moz-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
}

input:focus + .slider {
  box-shadow: 0 0 1px #229d6c;
  -webkit-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  -moz-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
}

input:checked + .slider:before {
  -webkit-transform: translateY(22px);
  -ms-transform: translateY(22px);
  transform: translateY(22px);
  -webkit-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  -moz-box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
  box-shadow: 0 0 5px rgba(34, 157, 108, 0.3);
}

p {
  margin: 0;
  padding-top: 0;
}

//SEARCH BAR
// .search-container {
//   margin-top: 15px;
// }
.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 350px;
  width: 100%;
  margin-left: 10px;
}

.search-bar {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  width: 100%;
  height: 50%;
  max-width: 350px;
  cursor: auto;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.sort-price {
  margin-right: 5px;
  padding: 10px;
}

.sort-font {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 12px;
  text-align: left;
  line-height: 15px;
  margin-left: 5px;
  width: 100%;
}

//CRITTER COMPONENT
.critter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 750px;
}

.critter-card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  width: 70%;
}

.critter-profile {
  text-align: center;
}

.critter-name {
  font-size: 20px;
  text-transform: capitalize;
  font-family: FinkHeavy;
  p {
    margin: 0 0 0;
  }
}

.name-highlight {
  box-shadow: inset 0 -10px #ffe5a2;
}

.critter-image {
  margin: 10px;
  width: 35%;
  height: 35%;
}

.critter-info {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.availabilityCenter {
  font-weight: bold;
}

.month,
.time {
  padding: 0 5px;
}

.prices {
  padding-right: 5px;
}

.hemisphereDetails {
  padding-left: 5px;
}

@media only screen and (min-width: 770px) {
  .critter-card {
    transition: all 0.3s ease-in-out;
    &:hover {
      -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
      transform: scale(1.05);
    }
  }
}

@media only screen and (max-width: 375px) {
  .critter-card {
    width: 100%;
  }
}
