@font-face {
  font-family: FinkHeavy;
  src: url(../fonts/FinkHeavy.ttf) format("ttf"),
    url(../fonts/FinkHeavy.woff) format("woff"),
    url(../fonts/FinkHeavy.woff2) format("woff2");
}

.blogPostList {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cards {
  width: 80%;
}

.title {
  color: #888888;
  font-family: "FinkHeavy";
  margin-bottom: 20px;
}

.post {
  font-size: 0.9rem;

  a {
    color: #333333;
    text-decoration: none;
  }

  .blogPostTitle {
    font-family: "FinkHeavy";
    font-size: 30px;
    letter-spacing: 1px;
  }
  hr {
    background-color: #ccc;
  }
  .highlightTitle:hover {
    box-shadow: inset 0 -20px #fed059;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }
}

.date {
  color: #777777;
  font-size: 0.8rem;
  font-style: italic;
}

.excerpt {
  color: #444444;
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 400px) {
  .highlightTitle {
    box-shadow: inset 0 -20px #fed059;
  }
}
