@font-face {
  font-family: FinkHeavy;
  src: url(../fonts/FinkHeavy.ttf) format("ttf"),
    url(../fonts/FinkHeavy.woff) format("woff"),
    url(../fonts/FinkHeavy.woff2) format("woff2");
}

.description-container {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: FinkHeavy, Helvetica;
  font-size: 35px;
  text-align: left;
  margin-bottom: 5px;
}

.personality-types {
  ul {
    list-style-type: circle;
    line-height: 8px;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.male-villagers {
  margin-right: 20px;
}

.female-villagers {
  margin-left: 20px;
}

.villager-description {
  width: 85%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

.villager-container {
  max-width: 750px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.search-container {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55%;
}

.search-bar {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  cursor: auto;
  width: 100%;
  outline: none;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.villager-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.9);
}

.villager-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.villager-name {
  font-family: "FinkHeavy", Helvetica;
  font-size: 20px;
  padding: 5px;
}

.name-highlight {
  box-shadow: inset 0 -13px #ffe5a2;
}
.villager-img {
  width: 100px;
  height: 100px;
  margin-bottom: 0;
}

.hr {
  background-color: #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
}

.villager-info {
  margin: 15px;
}

.capitalize {
  text-transform: capitalize;
}

@media only screen and (min-width: 770px) {
  .villager-card {
    transition: all 0.3s ease-in-out;
    &:hover {
      -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
      transform: scale(1.05);
    }
  }
}

@media only screen and (max-width: 420px) {
  .search-bar {
    font-size: 11px;
  }
}
