.footer-contents {
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-size: 12px;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.highlight {
  box-shadow: inset 0 -10px #ffe5a2;
}
