@font-face {
  font-family: FinkHeavy;
  src: url(./FinkHeavy.ttf);
}

.header {
  // padding: 3rem 0 2rem;
  // padding: 75px 0 50px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.title {
  color: #a6dbac;
  font-family: "FinkHeavy";
  font-size: 4rem;
  -webkit-text-stroke: 0.15px #229d6c;
  text-decoration: none;
}

.navbar {
  display: flex;
  padding: 10px 20px;
  margin-bottom: 1rem;
}

.nav-list {
  position: relative;
}

.nav-item {
  color: #a6dbac;
  font-family: "FinkHeavy";
  font-size: 1rem;
  text-decoration: none;
  padding: 0 10px;
}

.nav-button {
  color: #a6dbac;
  font-family: inherit;
  border: 0;
  text-decoration: none;
  outline: none;
  position: relative;
}

.nav-item:hover {
  color: #229d6c;
}

.active-nav-item {
  color: #229d6c;
}

.menu-list {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.menu-item {
  font-family: "FinkHeavy";
  text-align: start;
  text-decoration: none;
  color: #a6dbac;
  padding: 0 10px;
  width: 100%;
}

.menu-item:hover {
  color: #229d6c;
  display: block;
}
