@font-face {
  font-family: FinkHeavy;
  src: url(../fonts/FinkHeavy.ttf) format("ttf"),
    url(../fonts/FinkHeavy.woff) format("woff"),
    url(../fonts/FinkHeavy.woff2) format("woff2");
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.villager {
  min-width: 300px;
  max-width: 25%;
}

.header {
  width: 100%;
  text-decoration: none;
  position: relative;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
  // margin-left: 200px;
}

.nav-list {
  position: relative;
}

.nav-item {
  color: #ffe5a2;
  font-family: "FinkHeavy", "Helvetica";
  font-size: 1.1rem;
  text-shadow: 2px 2px 1px #714333;
  text-decoration: none;
  padding: 0 8px;
}

.nav-button {
  color: #ffe5a2;
  text-shadow: 2px 2px 1px #714333;
  font-family: inherit;
  border: 0;
  text-decoration: none;
  outline: none;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-button:hover {
  color: #f2d78d;
}

.nav-item:hover {
  color: #f2d78d;
}

.active-nav-item {
  color: #f2d78d;
}

.menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(216, 181, 148, 0.8);
  // background-image: url("https://i.ibb.co/fnvDgB7/woodbg04.png");
  flex-direction: column;
  position: absolute;
  width: 100%;
  cursor: pointer;
  text-align: initial;
}

.menu-item {
  font-family: "FinkHeavy", "Helvetica";
  text-align: left;
  text-decoration: none;
  color: #ffe5a2;
  padding: 0 10px;
  width: 100%;
}

.menu-item:hover {
  color: #f2d78d;
  display: block;
}

@media only screen and (max-width: 375px) {
  .nav-item {
    padding: 3px;
  }

  .nav-button {
    height: 100%;
  }
}
