.container {
  // max-width: 750px;
  background-color: #d8b594;
  // SPRING/SUMMER background-image: url("https://i.ibb.co/YZFZDYJ/ACgrassspread.png");
  background-image: url("https://i.ibb.co/S35mB3M/ACgrassspreadbrown.png");
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  // background: rgba(172, 207, 153, 0.3);
}

.navigation {
  width: 100vw;
  margin: auto;
  padding-bottom: 1rem;
}

.content {
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
  padding-top: 2rem;
  max-width: 750px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .content {
    margin: 20px;
  }
}
