.container {
  margin: 0 auto;
  max-width: 750px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
}

.content {
  flex-grow: 1;
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 0.6rem;
    padding-top: 2rem;
  }
}
