//COLOURS
$almost-black: #444444;
$less-black: #777777;
$mid-grey: #888888;
$light-grey: #cccccc;
$brown-outline: #714333;
$yellow-link: #ffe5a2;
$less-white: #eeeeee;

//SPACING
$xs-size: 0.4rem;
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;
$desktop-breakpoint: 45rem;

//FONTS
@font-face {
  font-family: FinkHeavy;
  src: url(../fonts/FinkHeavy.ttf) format("ttf"),
    url(../fonts/FinkHeavy.woff) format("woff"),
    url(../fonts/FinkHeavy.woff2) format("woff2");
}
